.BeforeAfterEffect{
	position: relative;
}
.BeforeAfterEffect .capB {
	float: right;
	position: relative;
}
.BeforeAfterEffect .capA {
	float: left;
	position: absolute;
}
.BeforeAfterEffect .capA, .capB {
	font-size: 12px;
	color: #333;
	white-space: nowrap;
	top: 20px;
	margin: 0 1px;
	padding: 3px 13px;
	background: #FFF;
	border: #aaa 1px solid;
}
.BeforeAfterEffect .lineDivisor {
	width: 2px;
	height: 2px;
	background: #FFF;
}
.BeforeAfterEffect .hoverDivisorH {
	width: 32px;
	height: 21px;
	background: url('../img/setaH.png') no-repeat;
	position: absolute;
	cursor: pointer;
}
.BeforeAfterEffect .hoverDivisorV {
	width: 21px;
	height: 32px;
	background: url('../img/setaV.png') no-repeat;
	position: absolute;
	cursor: pointer;
}
.BeforeAfterEffect .hoverDivisorH:hover, .BeforeAfterEffect .hoverDivisorV:hover {
	cursor: move;
}
.BeforeAfterEffect img, .BeforeAfterEffect div {
	position: absolute;
	overflow: hidden;
}
.BeforeAfterEffect img, .BeforeAfterEffect div, .BeforeAfterEffect span{
	-webkit-touch-callout: none;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}